<div class="container">
  <div class="header">
    <div class="image">
      <img src="icons/brand-logo.png" alt="" />
    </div>
    <div class="text">
      <strong class="heading">Vendor breakdown</strong>
      <div class="subheading">
        Keep track of vendors and their security ratings.
      </div>
    </div>
    <div class="more">
      <div class="button border-less-botton">
        <div class="icon">
          <span class="material-symbols-outlined"> more_vert </span>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [plotOptions]="chartOptions.plotOptions"
        [legend]="chartOptions.legend"
        [responsive]="chartOptions.responsive"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [fill]="chartOptions.fill"
        [grid]="chartOptions.grid"
      ></apx-chart>
    </div>
  </div>
  <div class="footer">
    <div class="button">
      <div class="icon"></div>
      <div class="text">View full report</div>
    </div>
  </div>
</div>
