@use "../../../variables.scss" as *;

.container {
    border: 2px solid rgba(211, 211, 211, 0.247);
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 1px 2px #e9e9e9;
    .header {
        display: flex;
        align-items: center;
        gap: 15px;
        border-bottom: 2px solid rgba(211, 211, 211, 0.247);
        .image {
            padding: 15px 0 15px 15px;

            img {
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .text {
            flex: 1;
            padding: 15px 15px 15px 0;

            .heading {
                font-size: large;
            }
            .subheading {
                color: dimgray;
                margin-top: 4px;
            }
        }
        .more {
            padding: 5px;
            align-self: flex-start;
            .button {
                display: flex;
                border: 2px solid lightgray;
                border-radius: 50%;
                padding: 5px;
                align-items: center;
                width: fit-content;
                gap: 5px;
                color: dimgray;
                justify-content: center;
                align-items: center;
                height: 31px;
                min-width: 31px;
                font-weight: 600;
                cursor: pointer;
                .icon {
                    padding-top: 4px;
                }

                &.border-less-botton {
                    border-color: transparent;
                }

                &:hover {
                    background-color: rgba(211, 211, 211, 0.247);
                    color: black;
                    border-color: transparent;
                }
            }
        }
    }
    .body {
        height: 200px;
    }
    .footer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: right;
        border-top: 2px solid rgba(211, 211, 211, 0.247);
        .button {
            display: flex;
            border: 2px solid lightgray;
            border-radius: 9px;
            padding: 5px;
            align-items: center;
            justify-content: space-between;
            width: fit-content;
            gap: 5px;
            color: dimgray;
            padding-left: 12px;
            height: 31px;
            font-weight: 600;
            padding-right: 12px;
            cursor: pointer;
            .icon {
                padding-top: 4px;
            }
            .text {
                padding-top: 4px;
            }
            &.border-less-botton {
                border-color: transparent;
            }

            &:hover {
                background-color: $primary;
                color: white;
                border-color: $primary;
            }
        }
    }
}
