<div class="container">
  <div class="greeting">
    <h1>{{ greeting }}, {{ userName }}</h1>
  </div>

  <div class="button border-less-botton">
    <div class="icon">
      <span class="material-symbols-outlined"> search </span>
    </div>
  </div>

  <div class="button">
    <div class="icon">
      <span class="material-symbols-outlined"> tune </span>
    </div>
    <div class="text">Customize</div>
  </div>

  <div class="button">
    <div class="icon">
      <span class="material-symbols-outlined"> cloud_download </span>
    </div>
    <div class="text">Export</div>
  </div>
</div>
