.container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    align-items: center;
    .brand {
        padding-top: 20px;
        padding-bottom: 20px;
        img {
            height: 40px;
        }
    }
    .nav-item {
        background-color: #f9fafd;
        padding: 10px;
        color: gray;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;

        &:hover {
            background-color: #9979e6;
            color: white;
        }
    }
    .bottom-nav-items {
        margin-top: auto;
    }
    .user-profile {
        margin-bottom: 10px;
        margin-top: 10px;
        img {
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #ddd;
        }
    }
}
