@use "../variables.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    align-items: center;
    .brand {
        padding-top: 40px;
        padding-bottom: 20px;
        img {
            height: 50px;
        }
    }

    .nav-item {
        background-color: #f9fafd;
        display: flex;
        padding: 15px;
        color: gray;
        border-radius: 5px;
        margin: 5px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            background-color: $primary;
            color: white;
        }
    }
    .bottom-nav-items {
        margin-top: auto;
    }
    .user-profile {
        margin-bottom: 10px;
        margin-top: 10px;
        img {
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid $primary;
        }
    }
}
