<div class="container">
  <div class="brand">
    <img src="icons/logo.png" alt="" />
  </div>

  @for(navItem of topNavItemsList; track navItem ){
  <div class="nav-item">
    <span class="material-symbols-outlined"> {{ navItem }} </span>
  </div>
  }

  <div class="bottom-nav-items">
    @for(navItem of bottomNavItemsList; track navItem ){
    <div class="nav-item">
      <span class="material-symbols-outlined"> {{ navItem }} </span>
    </div>
    }
  </div>

  <div class="user-profile">
    <img src="icons/person-1.jpg" alt="avatar" />
  </div>
</div>
