<div class="container">
  <div class="header">
    <div class="image">
      <img src="icons/brand-logo.png" alt="" />
    </div>
    <div class="text">
      <strong class="heading">Vendor breakdown</strong>
      <div class="subheading">
        Keep track of vendors and their security ratings.
      </div>
    </div>
    <div class="more">
      <div class="button border-less-botton">
        <div class="icon">
          <span class="material-symbols-outlined"> more_vert </span>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [labels]="chartOptions.labels"
        [fill]="chartOptions.fill"
      ></apx-chart>
    </div>
  </div>
  <div class="footer">
    <div class="button">
      <div class="icon"></div>
      <div class="text">View full report</div>
    </div>
  </div>
</div>
